body {
    background: linear-gradient(to right, #136a8a, #267871);
    display: flex;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 50px;
    margin-top: 17%;
    border-radius: 25px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

h1 {
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button {
    margin-top: 10%;
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 20%;
    margin-right: 20%;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #ffffff;
}

a {
    text-decoration: none;
    color: teal;
}

.cv-head {
    color: black;
}

.cv-head:hover {
    color: teal;
}